@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Seymour+One&display=swap');
.head {
    margin:0;
    font-weight: bold;
    text-align: center;
}
.contenuto{
    
    display: grid;
    background: linear-gradient(to LEFT ,black, grey);
    grid-template-columns: repeat(auto-fill, minmax(340px,5fr));
    grid-gap:30px;
    padding:16px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.post {
    color: black;
    background: linear-gradient(to BOTTOM , rgba(255, 255, 0, 0.675), rgb(255, 255, 185));
    display: grid;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px; 
    text-align: center;
    margin: 5;
    display: block; 
    word-wrap: break-word;
}


.post:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }